
			.background-white {
				background-color: #fff;
				color: #2F4F4F;
			}
			.no_padding: {
				padding: 0;
			}
			.width-100 {
				width: 70% !important;
			}
			.mb-5p {
				margin-bottom: 5px;
			}
			.mtb-5p {
				margin-bottom: 5px;
				margin-top: 5px;
			}
			.text-inline-block: {
				display: inline-block;
			}
			.card-header {
				padding: .1rem 1.25rem;
			}
			.card-body {
				padding: .5rem;
			}
			
			
			
			.gj-datepicker-bootstrap {
				width: 100% !important;
			}
			.gj-datepicker-bootstrap span {
				display: none;
			}
			
			
			
			nav {
				overflow-y: auto;
				background: #fff;
			}
			dt {
				display: block;
				padding: 3px 0 3px 15px; /*15px 0 15px 22px;*/
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: #333;
			}
			dd {
				margin-bottom: 0;
			}
			dd a {
				display: block;
				padding: 0 0 0 40px; /*15px 0 15px 22px;*/
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: #333;
			}
			dt {
				cursor: pointer;
				outline: none;
			}
			dl {
				margin: 0;
			}
			dd a {
				text-decoration: none;
			}
			dd a:hover {
				color: #0d0d0d;
			}
			dd a:active {
				color: black;
			}
			.accordion-element__term {
				font-weight: bold;
			}
			.accordion-element__term.active, .accordion-element__term:hover, .accordion-element__term:focus {
				background-color: #eee;
			}
			
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .contact100-form {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .contact100-form {
    padding: 43px 15px 57px 15px;
  }

  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}


/*-------------------------------------------------------------------*/
.pink-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea.md-form label.active {
    color: #f48fb1;
}

.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea.md-form label.active {
    color: #ffa000;
}


.active-pink-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea-2.md-form label.active {
    color: #f48fb1;
}
.active-pink-textarea-2.md-form label {
    color: #f48fb1;
}


.active-amber-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active {
    color: #ffa000;
}
.active-amber-textarea-2.md-form label {
    color: #ffa000;
}
label{
  display: inline-block;
  width: 110px;
}